{% extends "layout.html" %}

{%block content%}

<div id="abou" class="jumbotron">
  <div class="container">
    <h1 id="pol" class="display-4">👽🗯️🌌 Sobre One Sapce 👽🗯️🌌</h1>
    <br>
    <p id="yel" class="lead">Esta aplicación surge para facilitar la libertad de expresión y encontrar gente cool como tú!
       <br>
       <br>
      🌌📱No lo dudes más y comienza a públicar. 🌌📱</p>
    <br>
    <h1 id="rr" class="lead"> 🙋💣💥 Aplicación hecha por: Ingrid Lorentz | Copyright 2020 🙋💣💥</h1>
  </div>
</div>

{%endblock%}
